<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-b-0">Most buy product</h5>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Quantity</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each topBuyBook}}
                    <tr>
                        <td>
                            <a href="/products/{{product_id}}">{{product_id}}</a>
                        </td>
                        <td>
                            <a href="/products/{{product_id}}">{{title}}</a>

                        </td>
                        <td>
                            {{amount}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-b-0">Most view product</h5>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Views</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each topViewBook}}
                    <tr>
                        <td>
                            <a href="/products/{{id}}">{{id}}</a>
                        </td>
                        <td>
                            <a href="/products/{{id}}">{{title}}</a>

                        </td>
                        <td>
                            {{views}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title m-b-0">Most buy customer</h5>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Amount</th>

                    </tr>
                </thead>
                <tbody>
                    {{#each mostBuyCustomer}}
                    <tr>
                        <td>
                            <a href="/users/{{user_id}}">{{user_id}}</a>

                        </td>
                        <td>
                            <a href="/users/{{user_id}}">{{name}}</a>

                        </td>
                        <td>
                            {{amount}}
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>

    </div>
</div>