
<div class="container-fluid">
    
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <div class="row">
        <div class="col-md-12">
            <div class="card card-body printableArea">
                <h3><b>INVOICE</b> <span class="pull-right">{{info.order_id}}</span>   <span id="status" class="">{{info.status}}</span></h3>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <div class="pull-left">
                            <address>
                                <h3> &nbsp;<b class="text-danger">Triple Cat</b></h3>
                                <p class="text-muted m-l-5">18CTT2,
                                    <br /> Khoa CNTT,
                                    <br /> Trường ĐH KHTN
                                    <br /> TP HCM
                                </p>
                            </address>
                        </div>
                        <div class="pull-right text-right">
                            <address>
                                <h3> &nbsp;<b class="text-danger">To: {{info.name}}</b></h3>
                                <p>Username: {{info.user_id}}</p>
                                <p class="text-muted m-l-5">{{info.address}},
                                    <br /> {{info.ward}},
                                    <br /> {{info.district}},
                                    <br /> {{info.province}}
                                </p>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="table-responsive m-t-40" style="clear: both;">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Product Id</th>
                                        <th>Product</th>
                                        <th class="text-right">Quantity</th>
                                        <th class="text-right">Unit Cost</th>
                                        <th class="text-right">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each detail}}
                                    <tr>
                                        <td class="text-center">{{product_id}}</td>
                                        <td>{{title}}</td>
                                        <td class="text-right">{{product_price}} </td>
                                        <td class="text-right"> {{product_quantity}}  </td>
                                        <td class="text-right"> {{total}} </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="pull-right m-t-30 text-right">
                            <h3><b>Total :</b> {{info.total_money}}</h3>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <div class="text-right">
                            <a href="/orders"><button class="btn btn-success "> Back to list Orders </button></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- End PAge Content -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Right sidebar -->
    <!-- ============================================================== -->
    <!-- .right-sidebar -->
    <!-- ============================================================== -->
    <!-- End Right sidebar -->
    <!-- ============================================================== -->
</div>

<script>
    if('{{info.status}}'=='Pending'){
        document.getElementById("status").classList.add('text-warning')
    }
    if('{{info.status}}'=='Delivery'){
        document.getElementById("status").classList.add('text-primary')
    }
    if('{{info.status}}'=='Fulfill'){
        document.getElementById("status").classList.add('text-success')
    }
    if('{{info.status}}'=='Cancel'){
        document.getElementById("status").classList.add('text-danger')
    }

</script>