<form id='search_form' onsubmit="replaceOrders('{{page.currentPage}}', '1', '{{search}}', '{{sort}}', '{{status}}');">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-append">
            <button class="btn btn-light" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List of Order</h5>
                <div class="table-responsive">
                    <form method="POST">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>

                                    <th scope="col"><a href="">ID</a></th>
                                    <th scope="col"><a href="">User</a></th>
                                    <th scope="col"><a href="">Quantity</a></th>
                                    <th scope="col"><a href="">Total money</a></th>
                                    <th scope="col"><a href="">Order time</a></th>
                                    <th scope="col"><a href="">Status</a></th>
                                    <th>
                                        <label class="customcheckbox m-b-20">
                                            <input type="checkbox" id="mainCheckbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <!--Start product-->
                            <tbody class="customtable" id="products">
                                {{#each orders}}
                                <tr>
                                    <td>
                                        <a href="/orders/{{order_id}}">{{order_id}}</a>
                                    </td>
                                    <td>
                                        {{user_id}}
                                    </td>

                                    <td>
                                        {{quantity}}
                                    </td>
                                    <td>
                                        {{total_money}}
                                    </td>
                                    <td>
                                        {{order_time}}
                                    </td>
                                    <td>
                                        {{status}}
                                    </td>
                                    <th>
                                        <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox" name={{order_id}} />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                                {{/each}}
                            </tbody>
                            <!--Start product-->
                        </table>
                        <div class="card-body float-right group_button" hidden id="group_button">
                            <input type="submit" class="btn btn-primary btn-group" value="Conform" name="delivery">
                            <input type="submit" class="btn btn-success btn-group" value="Fulfill" name="fulfill">
                            <input type="submit" class="btn btn-danger btn-group" value="Cancel" name="cancel">
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="pagination" id="page">
    <button class="page-link"
        onclick="replaceOrders('{{page.currentPage}}', '1', '{{search}}', '{{sort}}', '{{status}}');">
        Đầu
    </button>

    {{#if page.prevPrevPage}}
    <button class="page-link"
        onclick="replaceOrders('{{page.currentPage}}','{{page.prevPrevPage}}', '{{search}}', '{{sort}}',  '{{status}}');">
        {{page.prevPrevPage}}
    </button>
    {{/if}}

    {{#if page.prevPage}}
    <button class="page-link"
        onclick="replaceOrders('{{page.currentPage}}','{{page.prevPage}}', '{{search}}', '{{sort}}',  '{{status}}');">
        {{page.prevPage}}
    </button>
    {{/if}}

    {{#if page.currentPage}}
    <div class="page-item active">
        <button class="page-link">
            {{page.currentPage}}
        </button>
    </div>

    {{/if}}

    {{#if page.nextPage}}
    <button class="page-link"
        onclick="replaceOrders('{{page.currentPage}}','{{page.nextPage}}', '{{search}}', '{{sort}}',  '{{status}}');">
        {{page.nextPage}}
    </button>
    {{/if}}

    {{#if page.nextNextPage}}
    <button class="page-link"
        onclick="replaceOrders('{{page.currentPage}}','{{page.nextNextPage}}', '{{search}}', '{{sort}}',  '{{status}}');">
        {{page.nextNextPage}}
    </button>
    {{/if}}

    <button class="page-link"
        onclick="replaceOrders('{{page.currentPage}}','{{page.totalPage}}', '{{search}}',  '{{sort}}',  '{{status}}');">
        Cuối
    </button>
</div>
<script type="text/x-handlebars-template" id="product-list">
                                \{{#each orders}}
                                <tr>
                                    <td>
                                        <a href="/orders/\{{order_id}}">\{{order_id}}</a>
                                    </td>
                                    <td>
                                        \{{user_id}}
                                    </td>
                                    
                                    <td>
                                        \{{quantity}}
                                    </td>
                                    <td>
                                        \{{total_money}}
                                    </td>
                                    <td>
                                        \{{order_time}}
                                    </td>
                                    <td>
                                        \{{status}}
                                    </td>
                                    <th>
                                        <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox" name=\{{order_id}} />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                                \{{/each}}
                                
                            
</script>
<!--
<script type="text/x-handlebars-template" id="product-list11">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="products-list-header">List of Products</h5>
                <div class="table-responsive">
                    <form method="POST">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Price</th>
                                    <th>
                                        <label class="customcheckbox m-b-20">
                                            <input type="checkbox" id="mainCheckbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            
                            <tbody class="customtable" >
                                \{{#each books}}
                                <tr>
                                    <td>
                                        \{{this.id}}
                                    </td>
                                    <td>
                                        \{{this.title}}
                                    </td>
                                    <td>
                                        \{{this.author}}
                                    </td>
                                    <td>
                                       \{{this.base_price}}
                                    </td>
                                    <th>
                                        <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox" name=\{{this.id}} />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                                \{{/each}}
                            </tbody>
                        </table>
                        <div class="card-body">
                            <input type="submit" class="btn btn-danger float-right" value="Remove">

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</script>
-->


<script type="text/x-handlebars-template" id="page-list">
	<button class="page-link"
        onclick="replaceOrders('\{{this.currentPage}}', '1', '\{{this.search}}', '\{{this.sort}}', '\{{this.status}}');">
        Đầu
    </button>

    \{{#if this.prevPrevPage}}
    <button class="page-link"
        onclick="replaceOrders('\{{this.currentPage}}','\{{this.prevPrevPage}}', '\{{this.search}}', '\{{this.sort}}',  '\{{this.status}}');">
        \{{this.prevPrevPage}}
    </button>
    \{{/if}}

    \{{#if this.prevPage}}
    <button class="page-link"
        onclick="replaceOrders('\{{this.currentPage}}','\{{this.prevPage}}', '\{{this.search}}', '\{{this.sort}}',  '\{{this.status}}');">
        \{{this.prevPage}}
    </button>
    \{{/if}}

    \{{#if this.currentPage}}
    <div class="page-item active">
        <button class="page-link">
            \{{this.currentPage}}
        </button>
    </div>

    \{{/if}}

    \{{#if this.nextPage}}
    <button class="page-link"
        onclick="replaceOrders('\{{this.currentPage}}','\{{this.nextPage}}', '\{{this.search}}', '\{{this.sort}}',  '\{{this.status}}');">
        \{{this.nextPage}}
    </button>
    \{{/if}}

    \{{#if this.nextNextPage}}
    <button class="page-link"
        onclick="replaceOrders('\{{this.currentPage}}','\{{this.nextNextPage}}', '\{{this.search}}', '\{{this.sort}}',  '\{{this.status}}');">
        \{{this.nextNextPage}}
    </button>
    \{{/if}}

    <button class="page-link"
        onclick="replaceOrders('\{{this.currentPage}}','\{{this.totalPage}}', '\{{this.search}}',  '\{{this.sort}}',  '\{{this.status}}');">
        Cuối
    </button>
</script>

<!-- this page js -->
<!--Tham khao: https://stackoverflow.com/questions/16371678/all-checkboxes-need-to-be-checked-and-unchecked-with-the-main-checkbox -->
<script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="assets/extra-libs/DataTables/datatables.min.js"></script>
<script src="assets/extra-libs/DataTables/datatables.min.js"></script>
<!--
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="js/main.js"></script>
-->

<script>
    reverseSort = (sort_string) => {
        if (sort_string == '') return
    }

</script>