<form id='search_form' onsubmit="replaceUsers('{{page.currentPage}}', '1', '{{search}}', '{{sort}}', 'Block');">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-append">
            <button class="btn btn-light" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List of Order</h5>
                <div class="table-responsive">
                    <form method="POST">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>

                                    <th scope="col"><a href="">Username</a></th>
                                    <th scope="col"><a href="">Fullname</a></th>
                                    <th scope="col"><a href="">Role</a></th>
                                    <th scope="col"><a href="">Status</a></th>
                                    <th>
                                        <label class="customcheckbox m-b-20">
                                            <input type="checkbox" id="mainCheckbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <!--Start product-->
                            <tbody class="customtable" id="products">
                                {{#each users}}
                                <tr>
                                    <td>
                                        <a href="/users/{{username}}">{{username}}</a>
                                    </td>
                                    <td>
                                        {{fullname}}
                                    </td>
                                    <td>
                                        {{role}}
                                    </td>
                                    <td>
                                        {{status}}
                                    </td>
                                    
                                    <th>
                                        <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox" name={{username}} />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                    
                                </tr>
                                {{/each}}
                            </tbody>
                            <!--Start product-->
                        </table>
                      
                        <div class="card-body float-right group_button" hidden id="group_button">
                            <input type="submit" class="btn btn-success btn-group" value="Restore" name="restore">
                            <input type="submit" class="btn btn-danger btn-group" value="Delete" name="delete">
                        </div>
                       
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="pagination" id="page">
    <button class="page-link"
        onclick="replaceUsers('{{page.currentPage}}', '1', '{{search}}', '{{sort}}', 'Block');">
        Đầu
    </button>

    {{#if page.prevPrevPage}}
    <button class="page-link"
        onclick="replaceUsers('{{page.currentPage}}','{{page.prevPrevPage}}', '{{search}}', '{{sort}}',  'Block');">
        {{page.prevPrevPage}}
    </button>
    {{/if}}

    {{#if page.prevPage}}
    <button class="page-link"
        onclick="replaceUsers('{{page.currentPage}}','{{page.prevPage}}', '{{search}}', '{{sort}}',  'Block');">
        {{page.prevPage}}
    </button>
    {{/if}}

    {{#if page.currentPage}}
    <div class="page-item active">
        <button class="page-link">
            {{page.currentPage}}
        </button>
    </div>

    {{/if}}

    {{#if page.nextPage}}
    <button class="page-link"
        onclick="replaceUsers('{{page.currentPage}}','{{page.nextPage}}', '{{search}}', '{{sort}}',  'Block');">
        {{page.nextPage}}
    </button>
    {{/if}}

    {{#if page.nextNextPage}}
    <button class="page-link"
        onclick="replaceUsers('{{page.currentPage}}','{{page.nextNextPage}}', '{{search}}', '{{sort}}',  'Block');">
        {{page.nextNextPage}}
    </button>
    {{/if}}

    <button class="page-link"
        onclick="replaceUsers('{{page.currentPage}}','{{page.totalPage}}', '{{search}}',  '{{sort}}',  'Block');">
        Cuối
    </button>
</div>
<script type="text/x-handlebars-template" id="product-list">
                                \{{#each users}}
                                <tr>
                                    <td>
                                        <a href="/users/\{{username}}">\{{username}}</a>
                                    </td>
                                    <td>
                                        \{{fullname}}
                                    </td>
                                    <td>
                                        \{{role}}
                                    </td>
                                    <td>
                                        \{{status}}
                                    </td>
                                    
                                    <th>
                                        <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox" name=\{{username}} />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                    
                                </tr>
                                \{{/each}}
                                
                            
</script>
<!--
<script type="text/x-handlebars-template" id="product-list11">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="products-list-header">List of Products</h5>
                <div class="table-responsive">
                    <form method="POST">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Price</th>
                                    <th>
                                        <label class="customcheckbox m-b-20">
                                            <input type="checkbox" id="mainCheckbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            
                            <tbody class="customtable" >
                                \{{#each books}}
                                <tr>
                                    <td>
                                        \{{this.id}}
                                    </td>
                                    <td>
                                        \{{this.title}}
                                    </td>
                                    <td>
                                        \{{this.author}}
                                    </td>
                                    <td>
                                       \{{this.base_price}}
                                    </td>
                                    <th>
                                        <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox" name=\{{this.id}} />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                                \{{/each}}
                            </tbody>
                        </table>
                        <div class="card-body">
                            <input type="submit" class="btn btn-danger float-right" value="Remove">

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</script>
-->


<script type="text/x-handlebars-template" id="page-list">
	<button class="page-link"
        onclick="replaceUsers('\{{this.currentPage}}', '1', '\{{this.search}}', '\{{this.sort}}', 'Block');">
        Đầu
    </button>

    \{{#if this.prevPrevPage}}
    <button class="page-link"
        onclick="replaceUsers('\{{this.currentPage}}','\{{this.prevPrevPage}}', '\{{this.search}}', '\{{this.sort}}',  'Block');">
        \{{this.prevPrevPage}}
    </button>
    \{{/if}}

    \{{#if this.prevPage}}
    <button class="page-link"
        onclick="replaceUsers('\{{this.currentPage}}','\{{this.prevPage}}', '\{{this.search}}', '\{{this.sort}}',  'Block');">
        \{{this.prevPage}}
    </button>
    \{{/if}}

    \{{#if this.currentPage}}
    <div class="page-item active">
        <button class="page-link">
            \{{this.currentPage}}
        </button>
    </div>

    \{{/if}}

    \{{#if this.nextPage}}
    <button class="page-link"
        onclick="replaceUsers('\{{this.currentPage}}','\{{this.nextPage}}', '\{{this.search}}', '\{{this.sort}}',  'Block');">
        \{{this.nextPage}}
    </button>
    \{{/if}}

    \{{#if this.nextNextPage}}
    <button class="page-link"
        onclick="replaceUsers('\{{this.currentPage}}','\{{this.nextNextPage}}', '\{{this.search}}', '\{{this.sort}}',  'Block');">
        \{{this.nextNextPage}}
    </button>
    \{{/if}}

    <button class="page-link"
        onclick="replaceUsers('\{{this.currentPage}}','\{{this.totalPage}}', '\{{this.search}}',  '\{{this.sort}}',  'Block');">
        Cuối
    </button>
</script>

<!-- this page js -->
<!--Tham khao: https://stackoverflow.com/questions/16371678/all-checkboxes-need-to-be-checked-and-unchecked-with-the-main-checkbox -->
<script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="assets/extra-libs/DataTables/datatables.min.js"></script>
<script src="assets/extra-libs/DataTables/datatables.min.js"></script>
<!--
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="js/main.js"></script>
-->

<script>
    reverseSort = (sort_string) => {
        if (sort_string == '') return
    }

</script>


