<link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css">
<link rel="stylesheet" type="text/css" href="/assets/libs/jquery-minicolors/jquery.minicolors.css">
<link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" type="text/css" href="/assets/libs/quill/dist/quill.snow.css">
<div class="row">
    <div class="col-lg-3">
        <img src="{{detail.avatar}}" alt="{{detail.username}}" class="col">

    </div>
    <div class="col-lg-9">
        <h3 class="font-medium">Detail info</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">Full name</th>
                    <td>{{detail.fullname}}</td>

                </tr>
                <tr>
                    <th scope="row">Username</th>
                    <td>{{detail.username}}</td>

                </tr>
                <tr>
                    <th scope="row">Email</th>
                    <td>{{detail.email}}</td>

                </tr>
                <tr>
                    <th scope="row">Contact no</th>
                    <td>{{detail.contact}}</td>

                </tr>
                <tr>
                    <th scope="row">Role</th>
                    <td>{{detail.role}}</td>
            </tbody>
        </table>

        <div class="comment-footer">
            <a href="/users/{{detail.id}}/edit" class="btn btn-cyan btn-sm">Edit</a>
        </div>
    </div>
</div>
