<form id='search_form' onsubmit="replaceProducts('1', '1', '{{search}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');
}">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="search">
        <div class="input-group-append">
            <button class="btn btn-light" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">List of Products</h5>
                <div class="table-responsive">
                    <form method="POST">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>

                                    <th scope="col"><a href="/?sort=id">ID</a></th>
                                    <th scope="col"><a href="/?sort=title">Title</a></th>
                                    <th scope="col"><a href="/?sort=author">Author</a></th>
                                    <th scope="col"><a href="/?sort=high-low">Price</a></th>
                                    <th scope="col"><a href="/?sort=newest">Day add</a></th>
                                    <th scope="col"><a href="/?sort=popularity">Views</a></th>
                                    <th>
                                        <label class="customcheckbox m-b-20">
                                            <input type="checkbox" id="mainCheckbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            <!--Start product-->
                            <tbody class="customtable" id="products">
                                {{#each books}}
                                <tr>
                                    <td>
                                        {{id}}
                                    </td>
                                    <td>
                                        <a href="/products/{{id}}">{{title}}</a>
                                    </td>
                                    <td>
                                        {{author}}
                                    </td>
                                    <td>
                                        {{base_price}}
                                    </td>
                                    <td>
                                        {{day_add}}
                                    </td>
                                    <td>
                                        {{views}}
                                    </td>
                                    <th>
                                        <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox" name={{id}} />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                                {{/each}}
                            </tbody>
                            <!--Start product-->
                        </table>
                        <div class="card-body " id="group_button" hidden>
                            <input type="submit" class="btn btn-danger float-right" value="Remove" >

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="pagination" id="page">
    <button class="page-link"
        onclick="replaceProducts('{{page.currentPage}}', '1', '{{search}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
        Đầu
    </button>

    {{#if page.prevPrevPage}}
    <button class="page-link"
        onclick="replaceProducts('{{page.currentPage}}', '{{page.prevPrevPage}}', '{{search}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
        {{page.prevPrevPage}}
    </button>
    {{/if}}

    {{#if page.prevPage}}
    <button class="page-link"
        onclick="replaceProducts('{{page.currentPage}}', '{{page.prevPage}}', '{{search}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
        {{page.prevPage}}
    </button>
    {{/if}}

    {{#if page.currentPage}}
    <div class="page-item active">
        <button class="page-link">
            {{page.currentPage}}
        </button>
    </div>

    {{/if}}

    {{#if page.nextPage}}
    <button class="page-link"
        onclick="replaceProducts('{{page.currentPage}}', '{{page.nextPage}}', '{{search}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
        {{page.nextPage}}
    </button>
    {{/if}}

    {{#if page.nextNextPage}}
    <button class="page-link"
        onclick="replaceProducts('{{page.currentPage}}','{{page.nextNextPage}}', '{{search}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
        {{page.nextNextPage}}
    </button>
    {{/if}}

    <button class="page-link"
        onclick="replaceProducts('{{page.currentPage}}','{{page.totalPage}}', '{{search}}', '{{category}}', '{{sort}}', '{{price}}', '{{supplier}}', '{{author}}', '{{publisher}}');">
        Cuối
    </button>
</div>
<script type="text/x-handlebars-template" id="product-list">
                                \{{#each books}}
                                <tr>
                                    <td>
                                        \{{this.id}}
                                    </td>
                                    <td>
                                        <a href="/products/\{{id}}">\{{title}}</a>
                                    </td>
                                    <td>
                                        \{{this.author}}
                                    </td>
                                    <td>
                                       \{{this.base_price}}
                                    </td>
                                    <td>
                                        \{{this.day_add}}
                                    </td>
                                    <td>
                                        \{{this.views}}
                                    </td>
                                    <th>
                                        <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox" name=\{{this.id}} />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                                \{{/each}}
                            
</script>
<!--
<script type="text/x-handlebars-template" id="product-list11">

    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title" id="products-list-header">List of Products</h5>
                <div class="table-responsive">
                    <form method="POST">
                        <table class="table">
                            <thead class="thead-light">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Author</th>
                                    <th scope="col">Price</th>
                                    <th>
                                        <label class="customcheckbox m-b-20">
                                            <input type="checkbox" id="mainCheckbox" />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                            </thead>
                            
                            <tbody class="customtable" >
                                \{{#each books}}
                                <tr>
                                    <td>
                                        \{{this.id}}
                                    </td>
                                    <td>
                                        \{{this.title}}
                                    </td>
                                    <td>
                                        \{{this.author}}
                                    </td>
                                    <td>
                                       \{{this.base_price}}
                                    </td>
                                    <th>
                                        <label class="customcheckbox">
                                            <input type="checkbox" class="listCheckbox" name=\{{this.id}} />
                                            <span class="checkmark"></span>
                                        </label>
                                    </th>
                                </tr>
                                \{{/each}}
                            </tbody>
                        </table>
                        <div class="card-body">
                            <input type="submit" class="btn btn-danger float-right" value="Remove">

                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>

</script>
-->


<script type="text/x-handlebars-template" id="page-list">
	<button class="page-link" onclick="replaceProducts('\{{this.currentPage}}', '1', '\{{this.search}}', '\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
		Đầu
	</button>

	\{{#if this.prevPrevPage}}
		<button class="page-link" onclick="replaceProducts('\{{this.currentPage}}','\{{this.prevPrevPage}}', '\{{this.search}}', '\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
			\{{this.prevPrevPage}}
		</button>
	\{{/if}}
{{!-- /shop?page={{page.prevPage}} --}}
	\{{#if this.prevPage}}
		<button class="page-link" onclick="replaceProducts('\{{this.currentPage}}','\{{this.prevPage}}', '\{{this.search}}', '\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
			\{{this.prevPage}}
		</button>
        
	\{{/if}}

	\{{#if this.currentPage}}
		{{!<button class="flex-c-m stext-101 cl0 size-103-edit bg3 bor1 p-lr-15 trans-04">}}
            <div class="page-item active">
        <button class="page-link">
			\{{this.currentPage}}
		</button>
        </div>
	\{{/if}}
{{!-- /shop?page={{page.nextPage}} --}}
	\{{#if this.nextPage}}
		<button class="page-link" onclick="replaceProducts('\{{this.currentPage}}','\{{this.nextPage}}', '\{{this.search}}', '\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
			\{{this.nextPage}}
		</button>
	\{{/if}}

	\{{#if this.nextNextPage}}
		<button class="page-link" onclick="replaceProducts('\{{this.currentPage}}','\{{this.nextNextPage}}', '\{{this.search}}', '\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
			\{{this.nextNextPage}}
		</button>
	\{{/if}}
{{!-- /shop?page={{page.totalPage}} --}}
	<button class="page-link" onclick="replaceProducts('\{{this.currentPage}}', '\{{this.totalPage}}', '\{{this.search}}', '\{{this.category}}','\{{this.sort}}','\{{this.price}}','\{{this.supplier}}','\{{this.author}}','\{{this.publisher}}');">
		Cuối
	</button>
</script>

<!-- this page js -->
<!--Tham khao: https://stackoverflow.com/questions/16371678/all-checkboxes-need-to-be-checked-and-unchecked-with-the-main-checkbox -->
<script src="assets/extra-libs/multicheck/datatable-checkbox-init.js"></script>
<script src="assets/extra-libs/multicheck/jquery.multicheck.js"></script>
<script src="assets/extra-libs/DataTables/datatables.min.js"></script>
<script src="assets/extra-libs/DataTables/datatables.min.js"></script>
<!--
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
<script src="js/main.js"></script>
-->

<script>
    reverseSort = (sort_string) => {
        if (sort_string == '') return
    }

</script>